a {
    display: inline-block;
    padding: 0.1em 0.3em;
    transition: all .3s;
}

a:hover {
    color: #fff;
    background-color: #00BCD4;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td,th {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

th {
    color: #fff;
    background: #005ab3;
}

.min {
    background: #e9727e;
}
