<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Score Board</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <center>
      <h1>Score Board</h1>
    </center>
    <table>
      {% for r in result %}
      <tr>

        {% if loop.index0 == 0 %}
        <th>prob_id</td>
        <th>map</th>

        {% else %}
        <td>{{ loop.index0 }}</td>
        <td><a href="/{{ loop.index0 }}.png"><img src="/{{ loop.index0 }}.png" width=40></td>
        {% endif %}

        {% if loop.index0 == 0 %}
        {% for d in r %}
        <th><a href="https://s3.console.aws.amazon.com/s3/buckets/cirimenjao/{{ d.uniq_key }}/?region=ap-northeast-1&tab=overview">{{ d.key }}</th>
        {% endfor %}

        {% else %}
        {% for d in r %}
        {% if d.min == 1 %}
        <td class="min">{{ d.score }}</td>
        {% else %}
        <td>{{ d.score }}</td>
        {% endif %}
        {% endfor %}
        {% endif %}

</tr>
      {% endfor %}
  </body>
</html>
